<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="icon" type="images/png" href="/images/icon.png">
        <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css" />
        <link href="/plugins/animate/animate.min.css" rel="stylesheet">
        <link href="/plugins/venobox/venobox.css" rel="stylesheet">
        <link href="/plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/plugins/fontawesome/css/font-awesome.min.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>