<%- include('includes/header') -%>
<body class="signup-bg">
    <section id="signup">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="POST" class="form-horizontal">
                        <h3 class="text-center">Login</h3>
                        <hr />
                        <%if (locals.error) { %>
                            <p class="text-center err"><%= error %></p>
                        <% } %>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="firstName" class="label">Email :</label>
                                <input type="email" class="form-control map-form" name="email" id="email" />
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="lastName" class="label">Password :</label>
                                <input type="password" class="form-control map-form" name="password" id="password" />
                            </div>
                            <div class="col-md-12 text-center">
                                <input type="submit" class="main-btn map-form" id="submit" value="Login">
                                <hr />
                            </div>
                        </div>
                    </form>
                        <div class="mt-2">
                            <a class="float-left normal-link" href="/confirm-email" data-toggle="modal" data-target="#completeModal">Sign Up?</a>
                            <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="completeLabel">Are you sure?</h5> 
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span> 
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="login-signUp" method="POST" class="form-horizontal">
                                                <div>
                                                    <h3 class="text-center">Enter your email</h3>
                                                    <input type="email" class="form-control map-form filler" name="email" id="email" />
                                                </div>
                                            
                                                <div class="text-center mt-3">
                                                    <input type="submit" class="main-btn map-form" id="submit" value="Submit">
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="float-right normal-link" href="#">Forgot Password?</a>
                            <div class="clearfix"></div>
                        </div>
                    
                </div>
            </div>

            <div class="text-center">
                <hr/ >
                    <a href="/" class="main-btn mb-4">Back Home</a>
            </div>
        </div>
    </section>

          
    <%- include('includes/footer') -%>
</body>
</html>
                