<%- include('includes/header') -%>
    <body>
        <%- include('includes/navbar') -%>
    
        <div class="container pt-4 body">
            <h1>Page under development!</h1>
    
        </div>
            
        <script src="/javascripts/profile.js" type="module"></script> 
        <script src="/javascripts/uploads.js"></script>          
        <%- include('includes/footer') -%>
</body>
</html>
                